<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Course Bot 5000</title>
</head>
<body>
    <h1>Course Bot 5000</h1>
    <h2>Add A New Course:</h2>
    <form action="/add" method="POST">
        {% csrf_token %}
        <p>Name: <input type="text" name="name"></p>
        <p>Description: <input type="text" name="description"></p>
        <input type="submit">
    </form>
    <h2>Courses:</h2>

    <table>
        <tr>
            <th>Course Name</th>
            <th>Description</th>
            <th>Date Added</th>
            <th>Actions</th>
        </tr>
        {% for Course in Courses %}
        <tr>
            <td>{{ Course.course_name }} </td>
            <td>{{ Course.description }}</td>
            <td>{{ Course.created_at }}</td>
            <td><a href="/confirm/{{Course.id}}">Remove</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
